<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="C:\Users\kgk65\Desktop\Task Management System\static\calend.css"/>
    
    <title>calend</title>
</head>
<div class="error">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  
   {% for message in messages %}
    <center> <b>{{ message }}</b></center>
   {% endfor %}
  
  {% endif %}
  {% endwith %}
  {% block body %}{% endblock %}
  </div>  
<body>
    <div class="container">
        <div class="row">
          <div class="date">
          <h2>
            November 28, 2022
          </h2>
          <h1>
            Today
          </h1>
        </div>
          <div class="add-task">
            <button class="add-task-btn">+ Add Task</button>
          </div>
        </div>
        <div class="calendar">
          <div class="row weekdays">
            <div class="day">Sun</div>
            <div class="day">Mon</div>
            <div class="day current">Tue</div>
            <div class="day">Wed</div>
            <div class="day">Thu</div>
            <div class="day">Fri</div>
            <div class="day">Sat</div>
          </div>
          <div class="row">
            <div class="day">20</div>
            <div class="day">21</div>
            <div class="day">22</div>
            <div class="day">23</div>
            <div class="day">24</div>
            <div class="day">25</div>
            <div class="day">26</div>
          </div>
          <div class="row">
            <div class="day">27</div>
            <div class="day">28</div>
            <div class="day today">29</div>
            <div class="day">30</div>
            <div class="day next-month">1</div>
            <div class="day next-month">2</div>
            <div class="day next-month">3</div>
          </div>
        </div>
        <ul class="timeline">
          <li class="task active">
            <div class="badge"></div>
            <div class="timeline-body">
              <div class="row">
                <div class="col-left">
                  <p class="title">Meeting</p>
                  <p class="timeline-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="col-right">
                  <p class="due">9:00 AM</p>
                </div>
              </div>
            </div>
          </li>
          <li class="task">
            <div class="badge"></div>
            <div class="timeline-body">
              <div class="row">
                <div class="col-left">
                  <p class="title">Design stuff</p>
                  <p class="timeline-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="col-right">
                    <p class="due">12:00 PM</p>
                </div>
              </div>
            </div>
          </li>
          <li class="task">
            <div class="badge"></div>
            <div class="timeline-body">
              <div class="row">
                <div class="col-left">
                  <p class="title">Check emails</p>
                  <p class="timeline-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="col-right">
                  <p class="due">2:00 PM</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
</body>
</html>