<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR</title>
</head>
<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 100px;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: crimson;
}
button{
    font-size: 20px;
    background-color:rgb(200, 218, 250);
    font-family: Helvetica, sans-serif;
    border-radius: 8px;
    padding: 5px;
    width: 120px;
    margin: 1rem;
    
    

}

</style>
<body>
    <button>BACK</button>
    <h3>THIS EMAIL ALREADY EXISTS</h3>
    <img src="https://res.cloudinary.com/dpnxknaaz/image/upload/v1682740927/errorimg_hth83w.jpg" alt="Paris" class="center">
</body>
</html>